/* ==========================================================================
   ベース
   ========================================================================== */
   
/* フォントサイズ
   ========================================================================== */
html {
  font-size: 15px;
}
/* 520px以降（Tabサイズ）から、88pxごとに1px大きくなる */
@media (min-width: 520px) {
  html{
    font-size: calc(93.75% + 5 * (100vw - 520px) / 440);
  }
}
/* 960px以上（PCサイズ）は、20pxに */
@media (min-width: 960px) {
  html{
    font-size: calc(125%);
  }
}
/* mediaクエリの下に書くことで，レスポンシブ対応 */
.l{
  font-size: 1.4rem;
}
.s{
  font-size: 0.8rem;
}
.xs{
  font-size: 0.7rem;
}

body {
  /* 「BIZ UDPゴシック」をWindowsで指定 */
  font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic","Meiryo", sans-serif;
  /* この背景色とボーダーはこのサイト参考（https://bitsofco.de/my-css-reset-base/） */
  background: #f5f5f5;
  /* マドリーイエロ */
  border: 5px solid #fcbf00;
}

@media (max-width:519px){
  body{
    border-width: 3px;
  }
}
/* ==========================================================================
   ヘッダー
   ========================================================================== */
header{
  position: fixed;
  top: 0;
  width: calc(100% - 10px);
  z-index: 10;
  background:inherit;
  border-top: 5px solid #fcbf00;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2);
}
@media (max-width:519px){
  header{
    border-width: 3px;
    width: calc(100% - 6px);
  }
}
.logo{
  transition: 0.5s;
  /* このheightを指定しないと，transitionが適用されない */
  height: 70px;
}
header.scroll-nav{
  opacity: 0.7;
}
header.scroll-nav .logo{
  height: 30px;
}
.header-container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1170px;
  max-width: calc(100% - 20px);
}
.header-left{
  display: flex;
  align-items: center;
}
/* ==========================================================================
   メイン，カルーセル
   ========================================================================== */
.main-wrapper{
  position: relative;
  margin-top: 70px;
  padding-bottom: 50px;
}
/* アニメ */
#canvas-container{
  background-color: midnightblue;
  position: relative;
}
#canvas-container p{
  position: absolute;
  color: #fcbf00;
}
canvas { 
  /* canvasをhtml要素として高幅を指定することによって背景をレスポンシブにする */
  width: 100%;
  /* 高さは固定することで，カルーセルなどで幅だけ可変 */
  height: 100%;
  /* background:url(http://www.otwo.jp/blog/demo/canvas/images/web/bg.jpg);
  background-size: 100% 100%; */
}

/* 以下カルーセルのデザイン */
.carousel-item{
  height: 500px;
}
@media (max-width:1279px){
  .carousel-item{
    height: 400px;
  }
}
@media (max-width:519px){
  .carousel-item{
    height: 300px;
  }
}
.top1{
  background-color: #f1dfc8;
}
.top2{
  background-color: lightseagreen;
}
.top3{
  background-color: lightblue;
}
/* 共通コンテナ */
.carousel-container{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


.carousel-wrapper {
  display: flex;
  overflow-x: scroll;
  /* 横軸に対して mandatory が効くようになり, 必ず scroll-snap-align で指定した位置までスクロールして止まる */
  scroll-snap-type: x mandatory;
  /* padding-top: 80px;
  margin-top: -80px; */
}

.carousel-wrapper .carousel-item {
  /* padding-top: 80px;
  margin-top: -80px; */
  flex: 1 0 auto;
  width: 100%;
  scroll-snap-align: start;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}


/* prev/nextボタン */
button {
  position: absolute;
  margin: 0px 4px;
  padding: 8px;
}
.btn{
  position: absolute;
  cursor: pointer;
}
svg{
  fill: #f5f5f5;
}
.btn-prev{
  top: 45%;
  left: 30px;
}
.btn-next{
  top: 45%;
  right: 30px;
}

/* インデックスボタン */
#paging{
  padding: 0;
  margin: 0;
  display: flex;
	position: absolute;
	bottom:10px;
  left: 50%;
  transform: translate(-50%,0%);
  list-style: none;
}
#paging li{
  background-color: rgb(216, 227, 238);
  margin-right: 10px;
	width:20px;
	height:20px;
  border-radius: 50%;
}
/* 擬似クラスで最後のボタン以外に余白 */
#paging li:not(:last-child){
  margin-right: 43px;
}
#paging li.active{
  background-color: lightslategray;
}


/* ==========================================================================
   作例.model-wrapper
   ========================================================================== */
.model-wrapper{
  text-align: center;
  padding: 30px;
}
.link-area{
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.link-box{
  /* Flexアイテムにはなるが，念のために */
  display: block;
  border: #fcbf00 solid 2px;
  height: 250px;
  width: 250px;
}
@media (max-width: 959px){
  .model-wrapper{
    padding: 20px 0;
  }
  .link-area{
    justify-content: space-around;
    margin: 20px 0;
  }
  .link-box{
    height: 160px;
    width: 160px;
  }
}
@media (max-width: 519px){
  .model-wrapper{
    padding: 20px;
  }
  .link-area{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .link-box{
    height: 50px;
    width: 100%;
  }
}

/* ==========================================================================
   コンタクト＆privacyポリシー
   ========================================================================== */
.others-wrapper{
  padding: 80px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: #fcbf00;
}
.btn-box{
  border: #000 1px solid;
  padding: 16px 70px 16px 30px;
  display: block;
}
@media (max-width:959px) {
  .others-wrapper{
    padding: 60px 20px;
    justify-content: space-around;
  }
}
@media (max-width:519px){
  .others-wrapper{
    padding: 20px;
    flex-direction: column;
  }
}

/* ==========================================================================
   footer
   ========================================================================== */
footer{
  text-align: center;
}

/* ==========================================================================
   
   ========================================================================== */
.pagetop{
  position: fixed;
  cursor: pointer;
  bottom: 90px;
  right: 50px;
  background-color: #ececec;
  padding: 20px;
  font-size: 30px;
}
.pagetop .fas{
  /* 親要素の高さを揃えるため */
  display: block;
}
@media screen and (max-width: 768px){
  .pagetop{
    bottom: 20px;
    right: 10px;
    padding: 15px;
    font-size: 15px;
  }
}

