/* ==========================================================================
   ベース
   ========================================================================== */
html {
  font-size: 15px;
}
/* 520px以降（Tabサイズ）から、88pxごとに1px大きくなる */
@media (min-width: 520px) {
  html{
    font-size: calc(93.75% + 5 * (100vw - 520px) / 440);
  }
}
/* 960px以上（PCサイズ）は、20pxに */
@media (min-width: 960px) {
  html{
    font-size: calc(125%);
  }
}
body {
  /* 「BIZ UDPゴシック」をWindowsで指定 */
  font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic","Meiryo", sans-serif;
  /* この背景色とボーダーはこのサイト参考（https://bitsofco.de/my-css-reset-base/） */
  background: #f5f5f5;
  /* マドリーイエロ */
  border: 5px solid #fcbf00;
}

@media (max-width:519px){
  body{
    border-width: 3px;
  }
}

header{
  position: fixed;
  top: 0;
  width: calc(100% - 10px);
  z-index: 10;
  background:inherit;
  border-top: 5px solid #fcbf00;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2);
}
@media (max-width:519px){
  header{
    border-width: 3px;
    width: calc(100% - 6px);
  }
}
.header-container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1170px;
  max-width: calc(100% - 20px);
}

.main-wrapper{
  margin-top: 80px;
  height: 500px;
}