body{
  background: #C3C3C3;
}
.container{
  width: 1200px;
  background: #fff;
  margin: 0 auto;
}
.h-title{
  position: relative;
  height: 100px;
  border-top: 5px solid blue;
}
.h-title .h-logo {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  width: 300px;
}
.h-nav{
  border-top: 1px solid #D2D2D2;
}
.h-menu{
  letter-spacing: -.4em;
}
.h-list{
  position: relative;
  display: inline-block;
  width: calc(100%/6);
  letter-spacing: normal;
  height: 64px;
  border-right: 1px solid #D2D2D2;
  box-sizing: border-box;
  vertical-align: bottom;
}
.h-list:hover .h-l-top{
  color: #0e36ca;
}
.h-list:hover {
  background-color: #e6ebfa;
}
.h-list:hover .h-l-box:before{
  content: "";
  width: 3px;
  height: 100%;
  background-color: #0e36ca;
  position: absolute;
  left: 4px;
}
.h-l-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  text-align: center;
}
.h-l-top{
  font-size: 15px;
  color: #666666;
  margin-bottom: 4px;
}
.h-l-bottom{
  font-size: 10px;
  color: #bababa;
  text-align: center;
}
.active .h-l-top{
  color: #0e36ca;
}
.active {
  background-color: #e6ebfa;
}
.active .h-l-box:before{
  content: "";
  width: 3px;
  height: 100%;
  background-color: #0e36ca;
  position: absolute;
  left: 4px;
}
.h-image{
  max-width: 100%;
  height: auto;
}

.main{
  background: blue;
  float: left;
  width: 70%;
}
.side{
  background: green;
}
.footer{
  background: yellow;
}