/* 全体 */
body{
  background: #C3C3C3;
  /* line-height: 2; */
}
/* コンテナ内 */
.container{
  width: 1200px;
  background: #fff;
  margin: 0 auto;
}

/* 以下よりヘッダー */
 /* ヘッダーロゴ */
 .header{
   background-color: cornsilk;
   height: 100px;
 }
.h-title{
  position: relative;
  height: 100px;
  width: 50%;
  border-top: 5px solid red;
  float: left;
}
.h-title .h-logo {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  width: 80px;
}

/* ナビリスト */
.h-nav{
  float: left;
  width: 50%;
}
.h-menu{
  /* 下のリストをカラム落ちさせないため */
  letter-spacing: -.4em;
  margin: 5px;
}
.h-list{
  display: inline-block;
  width: calc(100%/3);
  letter-spacing: normal;
  height: 90px;
  border: 1px solid #D2D2D2;
  /* 下のリストをカラム落ちさせないため */
  box-sizing: border-box;
}
.h-list a{
  text-decoration: none;
}
/* divで囲ったためにaタグ全体がリンクボタンのようになる！ */
.h-l-box{
  text-align: center;
  line-height: 90px;
}

/* .headerInner {
  background-color: cornsilk;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
/* 
.h-list,.h-list-button{
  background: skyblue;
  color: #fff;
  width:130px;
  height:50px;
  display:inline-block;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  font-size: 12px;
  box-shadow: 3px 3px 0px rgba(13, 18, 49, 0.3);
} */
/* 
.h-list,.h-list-button:hover {
    background: orange ;
    box-shadow: 0px 0px 0px rgba(13, 18, 49, 0.3);
} */

/* メイン */
.main{
  background-color: brown;
  float: left;
  width: 70%;
}
/* サイド */
.side{
  background-color: blue;
  float: left;
  width: 20%;
}

/* フッター */
footer {
  clear: both;
  background: #ECECEC;
}
.footerInner {
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}