/* こちらのサイトから（https://coliss.com/articles/build-websites/operation/css/a-modern-css-reset.html） */

/* Box sizing rules */
/* Box sizingの定義 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* デフォルトのpaddingを削除 */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
/* デフォルトのmarginを削除 */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
/* bodyのデフォルトを定義 */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
/* class属性を持つul、ol要素のリストスタイルを削除 */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
/* classを持たない要素はデフォルトのスタイルを取得 */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* img要素の扱いを簡単にする */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
/* article要素内の要素に自然な流れとリズムを定義 */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
/* inputやbuttonなどのフォントは継承を定義 */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
/* 見たくない人用に、すべてのアニメーションとトランジションを削除 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* リセットCSSここまで */

/* 共通コンテナ */
.container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* ヘッダー */
header .container{
  position: relative;
  justify-content: space-between;
}
.nav-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.nav-left,.nav-right{
  width: 40%;
}
ul{
  display: flex;
  justify-content: space-evenly;
}

/* トップラッパー */
.top-wrapper{
  /* ボタンやリストボタンのため */
  position: relative;
  height: 780px;
}
/* 以下カルーセルのデザイン */
.carousel-item{
  height: 710px;
}
.top1{
  background-color: #f1dfc8;
}
.top2{
  background-color: lightseagreen;
}
.top3{
  background-color: lightblue;
}
.circle{
  height: 710px;
  width: 388px;
  background-color: #f4f4f4;
  /* 上から550px下ったところを中心にして、横幅は左右50%（全体に）、縦は上に491pxのところまで引き伸ばす。中心が真ん中より下にあるので、楕円の下方あたりは存在しない。 */
  clip-path: ellipse(50% 491px at 50% 550px);
  cursor: pointer;
}
.carousel-wrapper {
  display: flex;
  overflow-x: scroll;
  /* 横軸に対して mandatory が効くようになり, 必ず scroll-snap-align で指定した位置までスクロールして止まる */
  scroll-snap-type: x mandatory;
}
.carousel-wrapper .carousel-item {
  flex: 1 0 auto;
  width: 100vw;
  /* height: 100vh; */
  scroll-snap-align: start;
}
.carousel-wrapper::-webkit-scrollbar {
  display: none;
}
/* prev/nextボタン */
.btn {
  position: absolute;
  margin: 0px 4px;
  padding: 8px;
  cursor: pointer;
}
.btn-prev{
  top: 45%;
  left: 10px;
}
.btn-next{
  top: 45%;
  right: 10px;
}
/* インデックスボタン */
#paging{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
	position: absolute;
	bottom:10px;
  left: 50%;
  list-style: none;
}
#paging li{
  background-color: rgb(216, 227, 238);
  margin-right: 10px;
	width:20px;
	height:20px;
  border-radius: 50%;
  cursor: pointer;
}
#paging li.active{
  background-color: lightslategray;
}




/* 2020 */
.c20-wrapper{
  height: 800px;
}
.img-box{
  position: relative;
  width: 730px;
}
.top-img{
  position: absolute;
  left: 30px;
  z-index: 5;
  width: 700px;
  height: 700px;
}
.back-img{
  position: absolute;
  top: 50px;
  width: 700px;
  height: 700px;
}