/* 共通設定 */
* {
  box-sizing: border-box;
}
body{
  margin: 0 10px;
}
.container{
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-family: Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.028em;
  color: #029ae2;
}
.title > span{
  color: #30d0ed;
}

.header-right{
  font-family: 'Hiragino Kaku Gothic ProN-W6','ヒラギノ角ゴ ProN W6',sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.857142857;
  letter-spacing: 0.05em;
  color: #333333;
}
.header-right ul{
  display: flex;
  align-items: center;
  margin: 0;
}
.header-right span{
  font-size: 16px;
  color: #fff;
  background-color: #30d0ed;
}

/* top-wrapper */
.top-wrapper{
  background-image: url(./bgimg.jpg);
  background-size: cover;
}
.top-wrapper h1{
  font-family: 'Cormorant Garamond', serif;
  font-size: 140px;
  font-weight: normal;
  line-height: 0.821428571;
  letter-spacing: 0.025em;
  color: #fefefe;
}
.top-wrapper p{
  font-family: 'Hiragino Kaku Gothic ProN-W6','ヒラギノ角ゴ ProN W6',sans-serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.44;
  letter-spacing: 0.1em;
  color: #fefefe;
}

/* News */
.heading h2{
  font-family: 'Open Sans','Hiragino Kaku Gothic ProN-W6','ヒラギノ角ゴ ProN W6',sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.025em;
  color: #019bdf;
}
.heading p{
  font-family: 'Hiragino Kaku Gothic ProN-W3','ヒラギノ角ゴ ProN W3',sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 2;
  letter-spacing: 0.075em;
  color: #333333;
}

.news-wrapper .container{
  display: flex;
  justify-content: space-between;
}

.news{
  width: 90%;
}

.news-item{
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #000;
  letter-spacing: 0.075em;
  color: #333333;
}
.n-date,.n-content{
  font-family: 'Hiragino Kaku Gothic ProN-W3','ヒラギノ角ゴ ProN W3',sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.846153846;
}
.n-tag{
  font-size: 10px;
  font-family: 'Hiragino Kaku Gothic ProN-W6','ヒラギノ角ゴ ProN W6',sans-serif;
  color: #fff;
}
.n-tag span{
  padding: 2px 10px;
  background-color: #019bdf;
}

/* Sevice */
.heading h3{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.075em;
  color: #149fe0;
}
.services {
  display: flex;
  justify-content: center;
}