.menu, .menu span {
  display: inline-block;
  box-sizing: border-box;
}
.menu {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background: white;
  top: 25px;
  right: 20px;
}
.menu span {
  position: absolute;
  left: 9px;
  width: 30px;
  height: 4px;
  background: black;
}
.menu span:nth-last-of-type(1){
  top: 12px;
}
.menu span:nth-last-of-type(2){
  top: 22px;
}
.menu span {
  bottom: 13px;
}
.opacity {
  position: absolute;
  top: 105px;
  z-index: 1;
  width: 100%;
  display: none;
  opacity: 0;
}
.opacity a {
  display: block;
  background: hsla(0, 0%, 10%, 0.9);
  color: white;
  height: 95px;
  padding-left: 20px;
  border-bottom: 1px solid white;
  text-decoration: none;
}
.opacity h2 {
  font-weight: normal;
  font-size: 20px;
  padding-top: 20px;
}
.opacity p {
  font-size: 12px;
  padding-top: 5px;
}
#disp-btn:checked ~ .opacity {
  display: block;
  opacity: 1;
}
