/* （2021/06/12 版） */
/* こちらのサイトから
  （https://coliss.com/articles/build-websites/operation/css/a-modern-css-reset.html）
  font-weightなどはReseter.css参考（https://coliss.com/articles/build-websites/operation/css/reset-and-normalizer-reseter-css.html）
  */

/* Box sizing rules */
/* Box sizingの定義 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* デフォルトのpaddingを削除 */

/* Remove default margin */
/* デフォルトのmarginを削除 */
body,
h1,
h2,
h3,
h4,
h5,/*追加*/
h6,/*追加*/
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* 追加：font-weight*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/* Set core body defaults */
/* bodyのデフォルトを定義 */
body {
  min-height: 100vh;/*コンテンツが空の場合でもビューポートを満たすのに役立つ*/
  scroll-behavior: smooth;/*スムーズなアンカースクロール*/
  text-rendering: optimizeSpeed;
  line-height: 1.6; /*0.1増,1.5 ~ 2がbetter*/
  letter-spacing: 0.08em; /*追記,0.05em ~ 0.1emがbetter*/
}

/* Remove list styles on ul, ol elements with a class attribute */
/* class属性を持つul、ol要素のリストスタイルを削除 */
ul,
ol {
  list-style: none;
}

/* デコレーションと，訪問済みの色を不変に */
a {
  text-decoration: none;
  cursor: pointer;
  /* テックアカデミー参考 */
  /* color: #33a5cb;  */
  color: #157FC0;
  /* color: #24738e; */
}
a:hover{
  color: #014896;
}
/* Make images easier to work with */
/* img要素の扱いを簡単にする */
img{
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
/* article要素内の要素に自然な流れとリズムを定義 */
/* article > * + * {
  margin-top: 1em;
} */

/* Inherit fonts for inputs and buttons */
/* inputやbuttonなどのフォントは継承を定義 */
/* input,
button,
textarea,
select {
  font: inherit;
} */

/* Remove all animations and transitions for people that prefer not to see them */
/* 見たくない人用に、すべてのアニメーションとトランジションを削除 */
/* @media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */