/* 基本設定 */
  /* フォントサイズ */
  html {
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
  }
  body {
    font-size: 1.6rem;
    line-height: 2;
  }
  h2{
    font-size: 2.0rem;
  }
  h4{
    font-size: 1.8rem;
  }
/* 全体 */
body{
  background: #C3C3C3;
  /* line-height: 2; */
}
/* コンテナ内 */
.container{
  max-width: 1200px;
  background: #fff;
  margin: 0 auto;
}
/* 以下よりヘッダー */
    /* ヘッダーロゴ */
.header{
   background-color: cornsilk;
   height: 100px;
}
.h-title{
  position: relative;
  height: 100px;
  width: 50%;
  border-top: 5px solid red;
  float: left;
}
.h-title .h-logo {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  width: 80px;
}
    /* ヘッダーナビリスト */
.h-nav{
  float: left;
  width: 50%;
}
.h-menu{
  /* 下のリストをカラム落ちさせないため */
  letter-spacing: -.4em;
}
.h-list{
  display: inline-block;
  width: calc(100%/3);
  letter-spacing: normal;
  height: 100px;
  border: 1px solid #D2D2D2;
  /* 下のリストをカラム落ちさせないため */
  box-sizing: border-box;
}
.h-list a{
  text-decoration: none;
}
/* divで囲ったためにaタグ全体がリンクボタンのようになる！ */
.h-l-box{
  text-align: center;
  line-height: 100px;
}

/* コンテンツ */
.contents{
  padding: 24px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}
.m-section , .s-box{
  padding-bottom: 2.4rem;
}
    /* メイン */
.main{
  background-color: rgb(233, 217, 217);
  float: left;
  width: 70%;
}
    /* サイド */
.side{
  background-color: rgb(240, 237, 237);
  float: right;
  width: 25%;
}


/* フッター */
footer {
  clear: both;
  background: cornsilk;
}
.footerInner {
  text-align: center;
  padding: 30px;
}