/* 
red:#DA6B64
red(hover):#D84940
yellow:#EBB94D
yellow(back):#FDF5E0
blue:#2A6EAA
footer&topへbotton-bg:#ECECEC
*/
/* ==========================================================================
   ベース
   ========================================================================== */
body{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #333;
}
a{
  color: #337ab7;
}
.white{
  color: #fff;
}
.yellow{
  color: #EBB94D;
}
code{
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
p{
  padding: 10px 0;
}
/* Font
   ========================================================================== */
.l{
  font-size: 28px;
}
.s{
  font-size: 16px;
}
.xs{
  font-size: 14px;
  font-weight: 300;
}
/* レスポンシブ */
@media screen and (max-width: 1190px){
  body{
    font-size: 16px;
  }
  .l{
    font-size: 24px;
  }
  .s{
    font-size: 14px;
  }
  .xs{
    font-size: 12px;
  }
}
@media screen and (max-width:768px){
  body{
    font-size: 15px;
  }
  .l{
    font-size: 18px;
  }
  .s{
    font-size: 12px;
  }
  .xs{
    font-size: 12px;
  }
}


/* 共通コンポーネント
   ==========================================================================*/
.container{
  margin: 0 auto;
  width: 1170px;
  max-width: calc(100% - 20px);
}
.btn{
  cursor: pointer;
  color: #fff;
  background-color: #DA6B64;
}
.border-box-contents{
  margin: 0 auto;
  width: 1170px;
  max-width: calc(100% - 40px);
  padding: 30px;
  border: #EBB94D solid 2px;
  background-color: #fff;
  border-radius: 5px;
}
.brackets{
  position: relative;
  margin: 0 auto 40px;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 30px 0;
}
.brackets::before,.brackets::after{
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
}
.brackets::before{
  top: 0;
  left: 0;
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
}
.brackets::after{
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
}
.question-wrapper .brackets::after,.question-wrapper .brackets::before ,.excuse-wrapper .brackets::after,.excuse-wrapper .brackets::before{
  border-color: #fff;
}
.brsp{
  display: none;
}
@media screen and (max-width: 768px) {
  .brackets{
    position: relative;
    margin: 0 auto;
    width: 95%;
    max-width: calc(100% - 20px);
    padding: 30px 0;
  }
  .brackets::before,.brackets::after{
    width: 30px;
    height: 30px;
  }
  .brsp{
    display: block;
  }
}

/* ヘッダー */
header{
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header-left{
  display: flex;
  align-items: flex-end;
}

.header-title{
  padding: 3px 5px;
  font-weight: 600;
}

header .btn{
  padding: 11px 40px;
  border-radius: 25px;
}

/* ヘッダーのコンテナも含めて，メディアクエリでレスポンシブ設定する */
.spview{
  display: none;
}
.spview a{
  font-size: 12px;
  font-weight: normal;
  color: #fff;
}
.contact-btn{
  display: flex;
  flex-direction: column;
  background-color: #DA6B64;
  padding: 9px 11px;
}
.contact-btn img{
  margin: 0 auto;
}
/* レスポンシブ */
@media screen and (max-width:768px){
  .pcview{
    display: none;
  }
  header .container{
    position: relative;
    max-width: 100%;
    height: 62px;
  }
  .spview{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}



/* メインラッパー */
.main-wrapper{
  padding-top: 75px;
}
.main-fluid{
  background-image: url(./img/bg-image/main.jpg);
  background-size: cover;
  background-position:center;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:768px){
  .main-wrapper{
    padding-top: 62px;
  }
  .main-fluid{
    background-image: url(./img/sp-img/mainsp.jpg);
    height: 312px;
  }
}
/* info */
.info-wrapper{
  background-color: #EBB94D;
  text-align: center;
  padding: 30px 0;
}
.info-wrapper .btn{
  max-width: 1020px;
  margin: 45px auto;
  padding: 30px 120px;
  border-radius: 50px;
}
.sns{
  display: flex;
  justify-content: center;
}
/* 仮 */
.sns li{
  background-color: aquamarine;
}
@media screen  and (min-width: 768px) and (max-width: 1190px){
  .info-wrapper .btn{
    padding: 25px 50px;
    margin: 10px 80px;
  }
}
@media screen and (max-width: 768px) {
  .info-wrapper .btn{
    padding: 15px 20px;
    margin: 10px 20px;
  }
  
}

/* about-1 */
.about-1-wrapper{
  background-image: url(./img/bg-image/introbottom.jpg);
  background-size: cover;
  background-position:center;
  height: 587px;
  padding: 40px 0;
  text-align: center;
}
.about-1-wrapper p{
  font-weight: 300;
  margin-bottom: 10px;
}
.underline {
  font-weight: bold;
  background: linear-gradient(transparent 70%, #ebb94d 0%);
  }
/* about-2 */
.about-2-wrapper{
  background-color: #FDF5E0;
  text-align: center;
  padding-bottom: 40px;
}
.aboutcircle{
  position: relative;
  top: -40px;
  background-color: #EBB94D;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
}

.skills-area{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  max-width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.skill{
  text-align: center;
}
.skill img{
  margin: 0 auto;
}

/* about-3 */
.about-3-wrapper{
  background-image: url(./img/bg-image/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 30px;
}
.steps-area{
  display: flex;
  justify-content: center;
}
.step{
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 30%;
}
.step .xs{
  font-weight: 600;

}
.step+.step{
  margin-left: 17px;
}
.step-title{
  background-color: #EBB94D;
  border-radius: 5px;
  padding: 0;
}
@media screen and (max-width:1190px){
  .steps-area{
    flex-direction: column;
  }
  .step{
    width: 40%;

  }
  .step,.step+.step{
    margin: 0 auto 20px;
  }
}
@media screen and (max-width:768px){
  .about-3-wrapper{
    background-image: url(./img/sp-img/aboutsecondbgsp.jpg);
  }
  .step{
    width: 100%;
  }
}


/* about-4 */
.about-4-wrapper{
  background-color: #2A6EAA;
  text-align: center;
  padding: 20px 0;
}

/* learning */
.learning-wrapper{
  text-align: center;
  padding: 40px 0;
}
.learning-wrapper p:first-of-type{
  font-weight: normal;
  margin-top: 20px;
}
.learning-area{
  display: flex;
  justify-content: space-evenly;
  padding: 0 50px;
}
.learning{
  max-width: 20%;
}
.learning img{
  width: 180px;
  max-width: 100%;
}
@media screen and (max-width:768px){
  .learning-wrapper{
    padding: 20px 0;
  }
  .learning img{
    width: 120px;
  }
}
/* merit */
.merit-wrapper{
  background-color: #FDF5E0;
  text-align: center;
  padding: 30px;
}
.merit-area{
  display: flex;
  justify-content: center;
}
.merit{
  width: calc(100%/3 - 20px);
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
}
.merit .s{
  font-weight: 300;
}
.free{
  height: 180px;
  background-image: url(./img/merit-area/learnfromfreelancer.jpg);
  background-position: center;
  background-size: cover;
}
.projects{
  height: 180px;
  background-image: url(./img/merit-area/learnfromprojects.jpg);
  background-position: center;
  background-size: cover;
}
.actual{
  height: 180px;
  background-image: url(./img/merit-area/actuallyfree.jpg);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width:991px){
  .merit-area{
    flex-direction: column;
  }
  .merit{
    width: 100%;
  }
  .merit .yellow{
    text-align: center;
  }
  .free,.projects,.actual{
    width: 300px;
    margin: 0 auto;
  }
}
@media screen and (max-width:768px){
  .free,.projects,.actual{
    height: 120px;
    width: auto;
  }
}
/* teacher */
.teacher-wrapper{
  background-image: url(./img/bg-image/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 50px;
}
.teacher-area{
  display: flex;
  justify-content: center;
  text-align: center;
}
.teacher{
  width: calc(100%/3 - 20px);
  padding-right: 15px;
  padding-left: 15px;
}
.teacher-img{
  position:relative;
  bottom: -35px;
  
}
.teacher-img img{
  margin: 0 auto;
  border-radius: 50%;
}
.detail{
  font-weight: normal;
  padding: 40px;
  border: 3px solid #fff;
}
.txtleft{
  text-align: left;
}
@media screen and (max-width:991px){
  .teacher-area{
    flex-direction: column;
  }
  .teacher{
    width: 100%;
  }
}
@media screen and (max-width:768px){
  .teacher-wrapper{
    background-image: url(./img/sp-img/teacherbgsp.jpg);
  }
  .teacher-img img{
    width: 120px;
  }
}

/* question */
.question-wrapper{
  background-color: #EBB94D;
  position: relative;
  text-align: center;
  padding: 20px 0;
}
.qacircle{
  background-color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
}
.question-wrapper:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  border: 25px solid transparent;
  border-top-color: #ebb94d;
  top: 100%;
  left: 50%;
  margin-left: -25px;
}

/* answer */
.answer-wrapper{
  text-align: center;
  padding: 40px 0;
}
.voices-area{
  max-width: 820px;
  text-align: left;
  margin: 0 auto;
}
.voice{
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  color: #777;
  font-style: italic;
  font-weight: normal;
  padding: 20px 0;
}
.voice-img{
  width: 30%;
}
.voice-img img{
  width: 100%;
  border: solid #EBB94D 3px;
}
.voice-detail{
  width: 60%;
  /* 文章を折り返す */
  overflow-wrap: break-word;
}
small{
  font-size: 15px;
  text-decoration: underline;
}
@media screen and (max-width:992px) {
  .voices-area{
    width: 750px;
  }
}
@media screen and (max-width:768px) {
  .voices-area{
    width: auto;
  }
}

/* lesson */
.lesson-wrapper{
  background-image: url(./img/bg-image/classbg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
}
.lessons-box{
  display: flex;
  justify-content: center;
  max-width: 780px;
  width: auto;
  margin: 0 auto;
}
.lesson{
  background-color: #fff;
  border: 2px solid #016ea9;
  border-radius: 5px;
  margin: 15px;
  width: 50%;
  height: 100%; /*これしないと，高さが違うとバグる*/
}
.lesson p {
  background-color:#016ea9;
  padding: 15px;
}
.lesson li{
  padding: 10px;
  border-bottom: 1px dotted #e5e5e5;
}
@media screen and (max-width:992px){
  .lessons-box{
    flex-direction: column;
    align-items: center;
    padding: 30px 10%;
  }
  .lesson{
    width: 100%;
    margin: 10px 0;
  }
}
@media screen and (max-width:768px){
  .lesson-wrapper{
    background-image: url(./img/sp-img/classbgsp.jpg);
  }
  .lessons-box{
    padding: 20px 10px;
  }
}

/* support */
.support-wrapper{
  background-color: #2A6EAA;
  text-align: center;
  padding: 40px 0;
}
/* flow */
.flow-wrapper{
  padding: 40px 0;

}
.flow-headding{
  text-align: center;
}
.flow-img{
  margin: 0 auto;
  max-width: 90%;
}
.pctab-detail img{
  margin: 0 auto;
}
.flow-box{
  display: flex;
  background-color: #FDF5E0;
  padding: 20px 35px;
  border-radius: 10px;
}
.flow-title{
  text-align: center;
  padding: 20px;
  width: 200px;
}
.sp-detail{
  display: none;
}
/* レスポンシブデザイン */
/* スマホのdetailフロー */
@media only screen and (min-width: 768px) and (max-width:1190px){
  .flow-wrapper {
    padding: 20px 40px;
  }
}
@media screen and (max-width: 768px) {
  .flow-wrapper{
    padding: 20px 0;
  }
  .flow-img, .pctab-detail{
    display: none;
  }
  .sp-detail{
    display: block;
    padding: 20px 15px;
  }
  .flow-box-sp{
    background-color: #fef5e0 ;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    border-radius: 4px;
  }
  .flow-box-sp+.flow-box-sp{
    margin-top: 5px;
  }
  .flow-title-sp{
    display: flex;
    align-items: center; /*疑似要素も中央に寄せてくれるね*/
    padding: 10px 15px;
    position: relative;
  }
  .flow-title-sp img{
    width: 35px;
    height: 35px;
  }
  .flow-title-sp::after{
    position: absolute;
    right: 10px;
    display: inline-block; /*忘れない！*/
    width: 20px;
    height: 20px;
    content: "";
    background: url(./img/angle-down-solid-bk.png); /*背景にすることでサイジング可能*/
    background-size: contain;/*縦横比維持＋要素サイズ（今回なら20px*20px）いっぱい*/
    background-repeat: no-repeat;/*繰り返して変な感じにしない*/
  }
  .flow-title-sp.active::after{
    display: inline-block; /*忘れない！*/
    width: 20px;
    height: 20px;
    content: "";
    background: url(./img/angle-up-solid-bk.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .flow-txt-sp{
    display: none;
    padding: 15px;
  }
  .flow-txt-sp.in{
    display: block;
  }
}


/* bangkok */
.bangkok-wrapper{
  background-image: url(./img/bg-image/bangkokbg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}
@media screen and (max-width:768px){
  .bangkok-wrapper{
    background-image: url(./img/sp-img/bangkokbgsp.jpg);
  }
}



/* specials */
.specials-wrapper{
  background-color: #f7c23c;
  text-align: center;
  padding: 50px;
}
.specials-wrapper h3{
  position: relative;
  bottom: -20px;
  width: 45%;
  margin: 0 auto;
  background-color: #f7c23c;
}
.specials-box-pc{
  display: flex;
  justify-content: space-evenly;
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  padding: 30px;
  border: solid #fff 2px;
}
.circle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.specials-box-sp{
  display: none;
}
@media screen and (max-width:992px){
  .specials-box-pc{
    flex-direction: column;
  }
  .circle{
    margin: 0 auto;
  }
}
@media screen and (max-width:768px){
  .specials-wrapper{
    padding: 10px;
  }
  .specials-box-pc{
    display: none;
  }
  .specials-box-sp{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: solid #fff 2px;
  }
  .special{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
  }
  .circle{
    margin: 0;
    height: 60px;
    font-size: 12px;
    flex-shrink: 0;/*こうすると，固定幅になる！*/
    flex-basis: 60px;/*widthいらん*/
  }
  .sp-txt{
    padding-left: 5px;
    flex-basis: auto;
    text-align: left;
  }
}
/* excuse */
.excuse-wrapper{
  background-image: url(./img/bg-image/specialdetail.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.excuse-wrapper p{
  font-weight: normal;
}
@media screen and (max-width:768px){
  .excuse-wrapper{
    background-image: url(./img/sp-img/specialdetailsp.jpg);
  }
}
/* message */
.message-wrapper{
  margin: 0 auto;
}
.message-wrapper h2,.message-wrapper > p{
  text-align: center;
}
.founder-box{
  margin: 0 auto;
  width: 1000px;
  max-width: calc(100% - 40px);
  display: flex;
  font-weight: normal;
  font-size: 14px;
}
.founder-img{
  width: 25%;
}
.founder-img img{
  width: 100%;
}
@media screen and (max-width:992px){
  .founder-box{
    flex-direction: column;
  }
  .founder-img{
    width: 100%;
  }
}

/* form */
.form-wrapper{
  background-color:#EBB94D;
  text-align: center;
}
form{
  width: 60%;
  margin: 0 auto;
}
form input,textarea{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
}
form textarea{
  height: 100px;
}
form .btn{
  width: 100%;
  border: none;
  padding: 10px 80px;
  font-size: 23px;
  border-radius: 50px;

}
@media screen and (max-width:1190px){
  form{
    width: 70%;
  }
}
@media screen and (max-width:768px){
  form{
    width: calc(100% - 30px);
  }
}
/* qa */
.fa-question-circle{
  color: #016ea9;
}
.qa-wrapper{
  padding: 40px 10%;
}
.qa-wrapper h2{
  text-align: center;
}
.qa-wrapper ul{
  max-width: 100%;
  margin: 0 auto;
}
.qa-wrapper li{
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.qa-wrapper li+li{
  margin-top: 5px;
}
.question{
  position: relative;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.question:hover , .question:focus{
  text-decoration: underline;
}
.question , .answer{
  padding: 20px;
  color: #000;
}
.question i{
  margin: 5px;
}
.question::after{
  position: absolute;
  right: 10px;
  display: inline-block; /*忘れない！*/
  width: 20px;
  height: 20px;
  content: "";
  background: url(./img/angle-down-solid.png); /*背景にすることでサイジング可能*/
  background-size: contain;/*縦横比維持＋要素サイズ（今回なら20px*20px）いっぱい*/
  background-repeat: no-repeat;/*繰り返して変な感じにしない*/
  vertical-align: middle;/*中央に配置*/
}
.question.active::after{
  display: inline-block; /*忘れない！*/
  width: 20px;
  height: 20px;
  content: "";
  background: url(./img/angle-up-solid.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.answer{
  display: none;
}
/*answerとinの両方のクラス持った*/
.answer.in{
  display: block;
}
@media screen and (max-width: 1190px) {
  .qa-wrapper{
    padding: 40px;
  }
}
@media screen and (max-width: 768px) {
  .qa-wrapper{
    padding: 20px 5px;

  }
  .question{
    padding: 10px;
  }
}

/* フッター */
footer{
  background-color: #ececec;
  text-align: center;
}
.copyright{
  font-size: 10px;
  font-weight: 300;
}
/* pagetop */
.pagetop{
  position: fixed;
  cursor: pointer;
  bottom: 90px;
  right: 50px;
  background-color: #ececec;
  padding: 20px;
  font-size: 30px;
}
.pagetop .fas{
  /* 親要素の高さを揃えるため */
  display: block;
}

