/* 
red:#DA6B64
red(hover):#D84940
yellow:#EBB94D
yellow(back):#FDF5E0
blue:#2A6EAA
footer&topへbotton-bg:#ECECEC
*/
body{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #333;
}
/* font-size */
.l{
  font-size: 28px;
}
.s{
  font-size: 16px;
}
.xs{
  font-size: 14px;
  font-weight: 300;
}
/* color */
.white{
  color: #fff;
}
.yellow{
  color: #EBB94D;
}

.container{
  margin: 0 auto;
  width: 1170px;
  /* 両端に10pxの空間 */
  max-width: calc(100% - 20px);
}
.btn{
  cursor: pointer;
  color: #fff;
  background-color: #DA6B64;
  border-radius: 25px;
}

/* ヘッダー */
header{
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  /* position: relative; */
}

.header-left{
  display: flex;
  align-items: flex-end;
}

.header-title{
  padding: 3px 5px;
  font-weight: 600;
}

header .btn{
  padding: 11px 40px;
}

/* ヘッダーのコンテナも含めて，メディアクエリでレスポンシブ設定する */
.spview{
  display: none;
}
.contact-btn{
  display: flex;
  flex-direction: column;
  background-color: #DA6B64;
  padding: 9px 11px;
}
.contact-btn img{
  margin: 0 auto;
}


/* メインラッパー */
.main-wrapper{
  padding-top: 75px;
}
.main-fluid{
  background-image: url(./img/bg-image/main.jpg);
  background-size: cover;
  background-position:center;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* info */
.info-wrapper{
  background-color: #EBB94D;
  text-align: center;
  padding: 30px 0;
}
.info-wrapper .btn{
  max-width: 1020px;
  margin: 0 auto;
}
.sns{
  display: flex;
  justify-content: center;
}
/* 仮 */
.sns li{
  background-color: aquamarine;
}

/* about-1 */
.about-1-wrapper{
  background-image: url(./img/bg-image/introbottom.jpg);
  background-size: cover;
  background-position:center;
  height: 587px;
  padding: 40px 0;
  text-align: center;
}

/* about-2 */
.about-2-wrapper{
  background-color: #FDF5E0;
}
.skills-area{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.skill{
  text-align: center;
}
.skill img{
  margin: 0 auto;
}

/* about-3 */
.about-3-wrapper{
  background-image: url(./img/bg-image/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 500px;
}

/* about-4 */
.about-4-wrapper{
  background-color: #2A6EAA;
  text-align: center;
}

/* learning */
.learning-area{
  display: flex;
  justify-content: center;
}

/* merit */
.merit-wrapper{
  background-color: #FDF5E0;
}
.merit-area{
  display: flex;
  justify-content: center;
}
.merit{
  max-width: calc(100%/3 - 20px);
  padding-right: 15px;
  padding-left: 15px;
}
.free{
  height: 180px;
  background-image: url(./img/merit-area/learnfromfreelancer.jpg);
  background-position: center;
  background-size: cover;
}
.projects{
  height: 180px;
  background-image: url(./img/merit-area/learnfromprojects.jpg);
  background-position: center;
  background-size: cover;
}
.actual{
  height: 180px;
  background-image: url(./img/merit-area/actuallyfree.jpg);
  background-position: center;
  background-size: cover;
}

/* teacher */
.teacher-wrapper{
  background-image: url(./img/bg-image/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
}
.teacher-area{
  display: flex;
  justify-content: center;
  text-align: center;
}
.teacher{
  max-width: calc(100%/3 - 20px);
  padding-right: 15px;
  padding-left: 15px;
}
.img img{
  margin: 0 auto;
  border-radius: 50%;
}

/* question */
.question-wrapper{
  background-color: #EBB94D;
  position: relative;
}
.qacircle{
  background-color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
}
.question-wrapper:after {
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  border: 25px solid transparent;
  border-top-color: #ebb94d;
  top: 100%;
  left: 50%;
  margin-left: -25px;
}


/* answer */
.voices-area{
  width: 800px;
}
.voice{
  display: flex;
  font-size: 18px;
  color: #777;
  font-style: italic;
  font-weight: normal;
}
.voice-img{
  width: 100%;
}
.voice-img img{
  width: 100%;
}
small{
  font-size: 15px;
  text-decoration: underline;
}
/* lesson */
.lesson-wrapper{
  background-image: url(./img/bg-image/classbg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}
.lessons-box{
  display: flex;
  justify-content: center;
}
.lesson{
  background-color: #fff;
  border: 2px solid #016ea9;
  border-radius: 5px;
  margin: 15px;
}
.lesson p {
  background-color:#016ea9;
}
/* support */
.support-wrapper{
  background-color: #2A6EAA;
  text-align: center;
}
/* flow */
.flow-headding{
  text-align: center;
}
.flow-img{
  margin: 0 auto;
}
.flow-box{
  display: flex;
  background-color: #FDF5E0;
}
.flow-title{

}
/* bangkok */
.bangkok-wrapper{
  background-image: url(./img/bg-image/bangkokbg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}
/* specials */
/* excuse */
/* message */
/* form */
/* qa */

/* フッター */