/* 
red:#DA6B64
red(hover):#D84940
yellow:#EBB94D
yellow(back):#FDF5E0
blue:#2A6EAA
footer&topへbotton-bg:#ECECEC
*/
/* ==========================================================================
   ベース
   ========================================================================== */
*{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #333;
}
a{
  color: #337ab7;
}
.white{
  color: #fff;
}
.yellow{
  color: #EBB94D;
}
/* Font
   ========================================================================== */
.l{
  font-size: 28px;
}
.s{
  font-size: 16px;
}
.xs{
  font-size: 14px;
  font-weight: 300;
}
/* レスポンシブ */
@media screen and (max-width: 1190px){
  *{
    font-size: 16px;
  }
  .l{
    font-size: 24px;
  }
  .s{
    font-size: 14px;
  }
  .xs{
    font-size: 12px;
  }
}
@media screen and (max-width:768px){
  *{
    font-size: 15px;
  }
  .l{
    font-size: 18px;
  }
  .s{
    font-size: 12px;
  }
  .xs{
    font-size: 12px;
  }
}


/* 共通コンポーネント
   ==========================================================================*/
.container{
  margin: 0 auto;
  width: 1170px;
  max-width: calc(100% - 20px);
}
.btn{
  cursor: pointer;
  color: #fff;
  background-color: #DA6B64;
  border-radius: 25px;
}
.border-box-contents{
  margin: 0 auto;
  width: 1170px;
  max-width: calc(100% - 40px);
  padding: 30px;
  border: #EBB94D solid 2px;
}

/* ヘッダー */
header{
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header-left{
  display: flex;
  align-items: flex-end;
}

.header-title{
  padding: 3px 5px;
  font-weight: 600;
}

header .btn{
  padding: 11px 40px;
}

/* ヘッダーのコンテナも含めて，メディアクエリでレスポンシブ設定する */
.spview{
  display: none;
}
.spview a{
  font-size: 12px;
  font-weight: normal;
  color: #fff;
}
.contact-btn{
  display: flex;
  flex-direction: column;
  background-color: #DA6B64;
  padding: 9px 11px;
}
.contact-btn img{
  margin: 0 auto;
}
/* レスポンシブ */
@media screen and (max-width:768px){
  .pcview{
    display: none;
  }
  header .container{
    position: relative;
    max-width: 100%;
    height: 62px;
  }
  .spview{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}



/* メインラッパー */
.main-wrapper{
  padding-top: 75px;
}
@media screen and (max-width:768px){
  .main-wrapper{
    padding-top: 62px;
  }
  
}
.main-fluid{
  background-image: url(./img/bg-image/main.jpg);
  background-size: cover;
  background-position:center;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* info */
.info-wrapper{
  background-color: #EBB94D;
  text-align: center;
  padding: 30px 0;
}
.info-wrapper .btn{
  max-width: 1020px;
  margin: 0 auto;
}
.sns{
  display: flex;
  justify-content: center;
}
/* 仮 */
.sns li{
  background-color: aquamarine;
}

/* about-1 */
.about-1-wrapper{
  background-image: url(./img/bg-image/introbottom.jpg);
  background-size: cover;
  background-position:center;
  height: 587px;
  padding: 40px 0;
  text-align: center;
}

/* about-2 */
.about-2-wrapper{
  background-color: #FDF5E0;
  text-align: center;
}
.skills-area{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.skill{
  text-align: center;
}
.skill img{
  margin: 0 auto;
}

/* about-3 */
.about-3-wrapper{
  background-image: url(./img/bg-image/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 500px;
}
.steps-area{
  display: flex;
  justify-content: center;
}
.step{
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
}
.step+.step{
  margin-left: 10px;
}
.step-title{
  background-color: #EBB94D;
}
/* about-4 */
.about-4-wrapper{
  background-color: #2A6EAA;
  text-align: center;
}

/* learning */
.learning-wrapper{
  text-align: center;
}
.learning-wrapper p:first-of-type{
  font-weight: normal;
}
.learning-area{
  display: flex;
  justify-content: center;
}

/* merit */
.merit-wrapper{
  background-color: #FDF5E0;
  text-align: center;
}
.merit-area{
  display: flex;
  justify-content: center;
}
.merit{
  max-width: calc(100%/3 - 20px);
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
}
.free{
  height: 180px;
  background-image: url(./img/merit-area/learnfromfreelancer.jpg);
  background-position: center;
  background-size: cover;
}
.projects{
  height: 180px;
  background-image: url(./img/merit-area/learnfromprojects.jpg);
  background-position: center;
  background-size: cover;
}
.actual{
  height: 180px;
  background-image: url(./img/merit-area/actuallyfree.jpg);
  background-position: center;
  background-size: cover;
}

/* teacher */
.teacher-wrapper{
  background-image: url(./img/bg-image/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.teacher-area{
  display: flex;
  justify-content: center;
  text-align: center;
}
.teacher{
  max-width: calc(100%/3 - 20px);
  padding-right: 15px;
  padding-left: 15px;
}
.teacher-img img{
  margin: 0 auto;
  border-radius: 50%;
}

/* question */
.question-wrapper{
  background-color: #EBB94D;
  position: relative;
  text-align: center;
}
.qacircle{
  background-color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}
.question-wrapper:after {
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  border: 25px solid transparent;
  border-top-color: #ebb94d;
  top: 100%;
  left: 50%;
  margin-left: -25px;
}


/* answer */
.answer-wrapper{
  text-align: center;

}
.voices-area{
  width: 800px;
  text-align: left;
  margin: 0 auto;
}
.voice{
  display: flex;
  font-size: 18px;
  color: #777;
  font-style: italic;
  font-weight: normal;
}
.voice-img{
  width: 100%;
}
.voice-img img{
  width: 100%;
}
small{
  font-size: 15px;
  text-decoration: underline;
}
/* lesson */
.lesson-wrapper{
  background-image: url(./img/bg-image/classbg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}
.lessons-box{
  display: flex;
  justify-content: center;
}
.lesson{
  background-color: #fff;
  border: 2px solid #016ea9;
  border-radius: 5px;
  margin: 15px;
}
.lesson p {
  background-color:#016ea9;
}
/* support */
.support-wrapper{
  background-color: #2A6EAA;
  text-align: center;
}
/* flow */
.flow-headding{
  text-align: center;
}
.flow-img{
  margin: 0 auto;
}
.pctab-detail img{
  margin: 0 auto;
}
.flow-box{
  display: flex;
  background-color: #FDF5E0;
}
.flow-title{
  text-align: center;
}

/* 下でレスポンシブ */
.sp-detail{
  display: none;
}
/* bangkok */
.bangkok-wrapper{
  background-image: url(./img/bg-image/bangkokbg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}
/* specials */
.specials-wrapper{
  background-color: #f7c23c;
  text-align: center;
}
.specials-wrapper h3{
  position: relative;
  bottom: -20px;
  width: 45%;
  margin: 0 auto;
  background-color: #f7c23c;
}
.specials-box{
  display: flex;
  justify-content: space-evenly;
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  padding: 30px;
  border: solid #fff 2px;
}

.special .circle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
/* excuse */
.excuse-wrapper{
  background-image: url(./img/bg-image/specialdetail.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.excuse-wrapper p{
  font-weight: normal;
}
/* message */
.message-wrapper{
  margin: 0 auto;
}
.message-wrapper h2,.message-wrapper > p{
  text-align: center;
}
.founder-box{
  display: flex;
  font-weight: normal;
}
.founder-img{
  width: 25%;
}
.founder-img img{
  width: 100%;
}
/* form */
.form-wrapper{
  background-color:#EBB94D;
  text-align: center;
}
form{
  width: 70%;
  margin: 0 auto;
}
form input{
  width: 100%;
}
/* qa */
.fa-question-circle{
  color: #016ea9;
}
.qa-wrapper h2{
  text-align: center;
}
.question::after{
  display: inline-block; /*忘れない！*/
  width: 20px;
  height: 20px;
  content: "";
  background: url(./img/angle-down-solid.png); /*背景にすることでサイジング可能*/
  background-size: contain;/*縦横比維持＋要素サイズ（今回なら20px*20px）いっぱい*/
  background-repeat: no-repeat;/*繰り返して変な感じにしない*/
  vertical-align: middle;/*中央に配置*/
}
.question.active::after{
  display: inline-block; /*忘れない！*/
  width: 20px;
  height: 20px;
  content: "";
  background: url(./img/angle-up-solid.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.answer{
  display: none;
}
/*answerとinの両方のクラス持った*/
.answer.in{
  display: block;
}
/* フッター */
footer{
  background-color: #ececec;
  text-align: center;
}
.copyright{
  font-size: 10px;
  font-weight: 300;
}
/* pagetop */
.pagetop{
  position: fixed;
  cursor: pointer;
  bottom: 90px;
  right: 50px;
  background-color: #ececec;
  padding: 20px;
  font-size: 30px;
}
.pagetop .fas{
  /* 親要素の高さを揃えるため */
  display: block;
}

/* レスポンシブデザイン */
/* スマホのdetailフロー */
@media screen and (max-width: 768px) {
  .flow-img, .pctab-detail{
    display: none;
  }
  .sp-detail{
    display: block;
  }
  .flow-box-sp{
    background-color: #fef5e0 ;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  }
  .flow-box-sp+.flow-box-sp{
    margin-top: 5px;
  }
  .flow-title-sp{
    display: flex;
    align-items: center; /*疑似要素も中央に寄せてくれるね*/
  }
  .flow-title-sp img{
    width: 35px;
    height: 35px;
  }
  .flow-title-sp::after{
    display: inline-block; /*忘れない！*/
    width: 20px;
    height: 20px;
    content: "";
    background: url(./img/angle-down-solid.png); /*背景にすることでサイジング可能*/
    background-size: contain;/*縦横比維持＋要素サイズ（今回なら20px*20px）いっぱい*/
    background-repeat: no-repeat;/*繰り返して変な感じにしない*/
  }
  .flow-title-sp.active::after{
    display: inline-block; /*忘れない！*/
    width: 20px;
    height: 20px;
    content: "";
    background: url(./img/angle-up-solid.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .flow-txt-sp{
    display: none;
  }
  .flow-txt-sp.in{
    display: block;
  }
}